<ul>
    <li *ngFor="let dir of directories">
        <span><input type="checkbox" [checked]="dir.checked" (click)="dir.check(dir.name)"/></span>
        <span (click)="dir.toggle()">{{ dir.name }}</span>
        <div *ngIf="dir.expanded">
            <ul >
                <li *ngFor="let file of dir.files">{{file}}</li>
            </ul>
            <files-tree [directories]="dir.directories" (checked)="bubble($event)" (unchecked)="bubbleUnchecked($event)"></files-tree>
        </div>
    </li>
</ul>