<div>
  <p>
  CloudLogMiner or CLM is a tool under development for analyzing Web Application logs from the very beginning of development.</p>
<p>As such, it focuses on easing log review efforts when locating bugs in a distributed Software System. </p>
<p>User guide can be found in <a href="https://github.com/simo14/CloudLogMiner">CLM GitHub repository</a></p>

<p>The tool fetches logs from an elasticSearch instance.</p>

<p>Built with Angular2 and ag-grid.</p>

  <p>CloudLogMiner is a Bachelor thesis project by Silvia Moreno Uribarri</p>
  </div>


